$color-bright-gray: #37384C;
$color-cadet-blue: #B2B8C3;
$color-contessa: #C97164;
$color-quarter-spanish-white: #F9F1E7;
$color-quicksand: #BC978C;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-index: (
  preloader: 3,
  navigation: 2,
  content: 1
);