*,
*:after,
*:before{
  box-sizing: border-box;
}

html{
  font-size: calc(100vw / 1920 * 10); // viewport divided by the design's screen size
  line-height: 1;

  
  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body{
  @extend %description-16;

  font-family: $font-suisse-bp;
}

a{
  color: inherit;
  text-decoration: none;
  outline: none;
}

button{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img{
  vertical-align: middle;
}

// part of the boiler plater