extends ../base.pug

block variables 
  - var template = 'Detail'

block content
  .detail 
    .detail__wrapper 
      figure.detail__media
        img.detail__media__image(alt=product.data.image src=product.data.image.url)
  h1.collection__title Detail