extends ../base.pug

block variables 
  - var template = 'home'

block content
  .home 
    .home__wrapper
      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(alt=media.image.alt src=media.image.url)
      a(href="/collections")=home.data.button
